<%- include("partials/head.ejs") %>

  <%- include("partials/navbar.ejs") %>
    <h1>My Home Page <%= "Hello World" .toUpperCase() %>
    </h1>
    <p style="color: red;">
      yoloyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy
    </p>

    <%- include("partials/footer.ejs") %>